snippet setup "Description" b
	from setuptools import setup

	setup(name='package_name',
		  version='0.1',
		  description='The description for package.',
		  url='https://github.com/sunzhongwei/ytlog',
		  author='Zhongwei Sun',
		  author_email='zhongwei.sun2008@gmail.com',
		  license='MIT',
		  packages=['package_name'],
		  zip_safe=False)
endsnippet
